{% extends 'base.html' %}

{% block title %}
    Perguntas
{% endblock %}

{% block content %}

    <h1 class="text-center mb-3">Poll questions</h1>

    {% if latest_question_list %}
        {% for question in latest_question_list %}
            <div class="card mb-3">
                <div class="card-body">
                    <p class="lead">
                        {{ question.question_text }}
                        <br>
                        <br>
                        <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary btn-sm">Vote Now</a>
                        <a href="{% url 'polls:results' question.id %}" class="btn btn-secondary btn-sm">Results</a>
                    </p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>There is no question for you answer!!!</p>
    {% endif %}



{% endblock %}

